<%= provide(:title,"Home") %>

<div class="container">
	<div class="articles_container"> 
		<div class="article_content">

			JUMI
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		</div>
		<div class="articles">
			<div class="single_article">
				haha
			</div>
		</div>
	</div>	
</div>
